/* see http://bl.ocks.org/shancarter/5979700 */

.slider {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.slider.inactive {
  opacity: 0.2;
}

.slider-title {
  flex: 1 1 auto;
  margin: 4px;
}

.slider-tray {
  width: 100px;
  height: 6px;
  cursor: default;
  border: solid 1px #ccc;
  border-top-color: #aaa;
  border-radius: 4px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.08);
}

.slider-handle {
  position: relative;
  top: 3px;
  width: 0;
}

.slider-handle-icon {
  width: 16px;
  height: 16px;
  border: solid 1px #aaa;
  position: absolute;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  top: -8px;
  left: -8px;
}
