body {
  font-family: Roboto, sans-serif;
  font-size: 10pt;
  margin: 0;
}

html,
body,
.content {
  height: 100%;
}

#loading {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 100px;
}
#loading:before {
  content: "Loading ...";
}

.graph-container {
  height: 100%;
  margin-right: 250px;
}

.controls {
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
  margin: 10px;
}

@media (max-width: 440px) {
  .graph-container {
    margin-right: 0;
    height: 50%;
  }
  .controls {
    position: relative;
    width: calc(100% - 20px);
  }
}

.graph-container,
.controls {
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.dataset {
  width: 100%;
  margin: 5px 0 5px 0;
}

.weights {
  border: 1px gray dotted;
}

.weights .slider {
  margin: 5px;
}

.options {
  margin-top: 5px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.options label {
  flex: 1 1 auto;
}
