body {
  font-family: Roboto, sans-serif;
  font-size: 10pt;
}

.controls {
  width: 200px;
}

.dataset {
  width: 100%;
  margin: 5px 0 5px 0;
}

.weights {
  width: 100%;
  border: 1px gray dotted;
}

.weights .slider {
  margin: 5px;
}
